/* Adapted from Uiverse.io by krlozCJ */
button {
  border: none;
  outline: none;
  background-color: #58e451;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border-radius: 5px;
  transition: all ease 0.1s;
  box-shadow: 0px 5px 0px 0px #b8fa9b;
}

button:active {
  transform: translateY(5px);
  box-shadow: 0px 0px 0px 0px #b8fa9b;
}

button:hover {
  background-color: #4cd13f;
}

button:disabled {
  background-color: #b8fa9b;
  box-shadow: 0px 5px 0px 0px #b8fa9b;
}

button:disabled:hover {
  background-color: #b8fa9b;
}

button:disabled.loading {
  position: relative;
  color: transparent;
}

button:disabled.loading::after {
  content: "Compiling...";
  color: #fff;
  position: absolute;
  left: 20%;
  transform: translateX(-20%);
}

.loading-spinner {
  display: inline-block;
  margin-left: 8px;
  width: 16px;
  height: 16px;
  border: 2px solid transparent;
  border-top: 2px solid #fff;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
